*{
	margin: 0;
	box-sizing: border-box;
	
}

.nav{
    
    
	height: 80px;
	
	background-color:#004768; 
}

.inner-container{
	position: relative;
	
	margin: 0 auto;
}

.nav-brand{
	margin-left: 30px;
	color: #ffe051;
	padding-top: 20px;
}
.nav-menu{

	list-style: none; 
	position: absolute; 
	top: 15px;
	left: 950px;
    
}
.menu-item{
	float: left;
	margin-left: 30px;
}
.menu-item >a{

	color: white;
	text-decoration: none;
	font-size: 20px;
}

.image
{
	
	float: right;
	margin-top: 100px;
  
	
}
.backgrou
{
	
	
position: fixed;
	height: 100vh;
	width: 100%;
	background-color: #000;
	opacity: 0.8;

}
p{
	
	
	color: white;
	font-size: 30px;

	margin-top:20% ;
	
	
	
}
p span
{
	font-size: 45px;
	font-weight: bold;
	
	
}
p.pppp  
{
	position: absolute;
	font-size:15px ;
	color: white;
	margin-left: 0%;
	margin-top:35% ;
	text-transform: uppercase;
    transform: rotate(90deg);
		

}
.img-menu
{
	  margin-top: 35%;
	  margin-left: 20%;
}
a img
{
	z-index: 2;
}


/* For mobile phones */
[class*="col-"]
{
    width: 100%;
}



}
@media only screen and (min-width: 600px){

/****************** Grid system **************/


.col-sm-1{width: 8.33%;}
.col-sm-2{width: 16.66%;}
.col-sm-3{width: 25%;}
.col-sm-4{width: 33.33%;}
.col-sm-5{width: 41.66%;}
.col-sm-6{width: 50%;}
.col-sm-7{width: 58.33%;}
.col-sm-8{width: 66.66%;}
.col-sm-9{width: 75%;}
.col-sm-10{width: 83.33%;}
.col-sm-11{width: 91.66%;}
.col-sm-12{width: 100%;}
}
@media only screen and (min-width: 768px){
/****************** Grid system **************/


.col-md-1{width: 8.33%;}
.col-md-2{width: 16.66%;}
.col-md-3{width: 25%;}
.col-md-4{width: 33.33%;}
.col-md-5{width: 41.66%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.33%;}
.col-md-8{width: 66.66%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.33%;}
.col-md-11{width: 91.66%;}
.col-md-12{width: 100%;}

}
@media only screen and (min-width: 992px){
    /****************** Grid system **************/


.col-lg-1{width: 8.33%;}
.col-lg-2{width: 16.66%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width: 41.66%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.33%;}
.col-lg-8{width: 66.66%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.33%;}
.col-lg-11{width: 91.66%;}
.col-lg-12{width: 100%;}

}

@media only screen and (min-width: 1200px){
     /****************** Grid system **************/


.col-xlg-1{width: 8.33%;}
.col-xlg-2{width: 16.66%;}
.col-xlg-3{width: 25%;}
.col-xlg-4{width: 33.33%;}
.col-xlg-5{width: 41.66%;}
.col-xlg-6{width: 50%;}
.col-xlg-7{width: 58.33%;}
.col-xlg-8{width: 66.66%;}
.col-xlg-9{width: 75%;}
.col-xlg-10{width: 83.33%;}
.col-xlg-11{width: 91.66%;}
.col-xlg-12{width: 100%;}

}